<h1>Game 1 - Player Status</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players; let idx=index">
      <td scope="row">{{player.player}}</td>
      <td>
          <button (click)="set_status(player._id, 1)" 
          [ngClass]="{'btn btn-success btn-sm': player.game1 === 1, 
          'btn btn-secondary btn-sm': player.game1 !== 1}">Playing</button>
          <button (click)="set_status(player._id, 2)" 
          [ngClass]="{'btn btn-danger btn-sm': player.game1 === 2, 
          'btn btn-secondary btn-sm': player.game1 !== 2}">Not Playing</button>
          <button (click)="set_status(player._id, 3)" 
          [ngClass]="{'btn btn-warning btn-sm': player.game1 === 3, 
          'btn btn-secondary btn-sm': player.game1 !== 3}">Undecided</button>
      </td>
  </tr>
  </tbody>
</table>