<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2 class='display-4'>GitHub Score</h2> 
      <form (submit)='calcScore()'>
        <div class='form-group'>
          <label for='username'>GitHub username:</label>
          <input
            required
            type="text"
            class="form-control"
            name='username'
            [(ngModel)] = 'username'
            #name='ngModel'
            />
        </div>
        <div class='alert alert-danger'
        *ngIf='name.touched && !name.valid'>
        <div *ngIf='name.errors?.required'>
          A username is required.
        </div>
      </div>
        <div class='alert alert-danger'
        *ngIf='!userFound'>
          No such user.
      </div>
        <button type="submit" class="btn btn-primary">Calculate my GitHub score</button>
      </form>
    </div>
    <div class='col'>
      <h2>Your Score: </h2>
      <h3 class='display-4'>{{ score }}</h3>
      <div *ngIf="score < 20" class="alert alert-danger" role="alert">
          Need more work!
      </div>
      <div *ngIf="score >= 20 && score < 50" class="alert alert-warning" role="alert">
          A decent start.
      </div>
      <div *ngIf="score >= 50 && score < 100" class="alert alert-dark" role="alert">
          Doing well!
      </div>
      <div *ngIf="score >= 100 && score < 200" class="alert alert-success" role="alert">
          Great job!
      </div>
      <div *ngIf="score >= 200" class="alert alert-primary" role="alert">
          GitHub elite!
      </div>
    </div>
</div>