<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <h1>Great Number Game</h1>
    <h3>Try to guess the right number</h3>
    <form action='/guess' method='post'>
        <div class="form-group">
          <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="1-100" name="guess">
        </div>
        <button type="submit" class="btn btn-primary"><%= button %></button></button>
      </form>
      <div class="card text-white bg-<%= data.card %> mb-3" style="max-width: 20rem;" <%= data.hide%>>
        <div class="card-body">
          <h4 class="card-title"><%= data.message %></h4>
        </div>
      </div>
      </div>
  </body>
</html>